body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.leaflet-left.leaflet-top {
  width: 100%;
}

.leaflet-popup-content-wrapper { 
	width: 620px;
}

.range {
  position:absolute;
  width:100%;
  }

.leaflet-top .leaflet-control-zoom {
  top:20px;
  }

.leaflet-control-mapbox-geocoder {
 	top:20px;
 }